.container {
    max-width: 800px;
    margin: 0 auto;
}


.contact-info {
    margin-bottom: 30px;
}

.contact-info p {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

.button-container {
    text-align: center;
}

/* Adjust the styles as needed */