.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .app-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.app-app-name {
    margin-left: 8px;
}

.app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.is-mobile .app-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.mat-sidenav-content {
    padding: 16px;
}

.child-link {
    padding-left: 32px;
}

.user-name {
    margin-left: auto;
    margin-right: 16px;
    color: white;
}

.user-dropdown {
    position: relative;
    margin-left: auto;
    z-index: 2;
    /* Added this line to set a higher z-index */

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 8px;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    right: 0;
    top: 100%;
}


.dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 4px 8px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    display: block;
}