<div class="container">
    <h2 class="page-title">Export Comments</h2>
    <p class="tagline">Unlock Insights, Empower Decision-Making</p>
    <div class="description">
        <p class="page-description">Welcome to the Export Comments page, meticulously crafted for campaign
            administrators like you to seamlessly export all approved and unapproved comments to a flat XLSX file. This
            powerful functionality empowers you with comprehensive analysis and insightful reporting, allowing you to
            delve deeper into the data and uncover valuable insights.</p>

        <p class="page-description">Step into a world of limitless possibilities and unleash the potential of your
            comment data today!</p>
    </div>
    <div class="button-container">
        <button class="btn-export" mat-raised-button color="primary" (click)="exportToExcel()">Export Comments</button>
    </div>

    <h2 class="section-title">Please Note:</h2>
    <ul class="notes-list">
        <li><strong>Unfiltered Data</strong> The comments, presented in an unordered manner, offer unparalleled
            flexibility for
            you to apply advanced techniques such as filtering, grouping, sorting, and more. Leverage Excel's robust
            features to navigate and discover trends, patterns, and sentiments within your comments, enabling
            data-driven decision-making for your campaign.</li>
    </ul>
</div>