<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Approve Comments</h5>
                <p class="card-text">Review and approve comments for publication.</p>
                <a mat-raised-button color="primary" routerLink="approve-comments">Go to Approve Comments</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Comments</h5>
                <p class="card-text">View and manage published comments.</p>
                <a mat-raised-button color="primary" routerLink="view-comments">Go to View Comments</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Export Comments</h5>
                <p class="card-text">Download comments as an Excel file.</p>
                <a mat-raised-button color="primary" routerLink="export-comments">Go to View Comments</a>
            </div>
        </div>
    </div>
</div>