.container {
    max-width: 800px;
    margin: 0 auto;
}



.page-description {
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn-export {
    padding: 10px 20px;
    border-radius: 4px;
}

.button-container {
    text-align: center;
}